<div class="smallbanner">
  <div class="smallbanner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div><i <i class="fa fa-glass" aria-hidden="true"></i><%= link_to "     Back to the cocktail list", cocktails_path %></div>
    <div class="second-container">

      <h4>Recipe:</h4>
      <div><%= link_to new_cocktail_dose_path(@cocktail) do %>
        <div class="ingredient-card">
        <div class="instruction"> - Click on card to add ingredients - </div>
          <% @cocktail.doses.each do |dose| %>
            <div class="ingredient-element"> <i class="fa fa-check" aria-hidden="true"></i> <%= dose.description %>  of <%= dose.ingredient.name %> </div>
            <% end %>
        </div>
      <% end %>
      </div>
    </div>
</div>








